@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');

body {
    font-family: "Encode Sans Condensed", Helvetica, Arial, sans-serif;
}

.mainHeader {
    color: blue;
}

.secondHeader {
    color: red;
}