@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');

h1 {
    font-family: cursive;
    text-align: center;
    color: white;
    font-size: 6vw;
    text-shadow: 3px 3px black;
}

header {
    background-image: url(pink.jpg);
    background-size: cover;
    height: 16vw;
    background-repeat: no-repeat;
    border: 0.5rem solid pink;
}

header img {
    width: 80%;
    display: block;
}

body {
    font-family: "Encode Sans Condensed", Helvetica, Arial, sans-serif;
    margin: 0;
}

.title {
    color: blue;
}

.title#notes {
    color: green;
}

.description {
    color: red;
}

.col2, .col3 {
    width: 50.%;
    float: left;
    margin-right: 10vw;
    margin-left: 3vw;
}

img {
    height: 10px;
    width: 10px;
    background-color: transparent;
}

.important {
    background-color: yellow;
}

p.description {
    margin-top: 1vw;
}

button {
    margin-left: 4vw;
}